
  body {
    background-color: rgb(95, 205, 238);
  }

  .serenemotto {
    font-style: oblique;
    float: inherit;
    
  }

  h1.serenemotto:hover, h1.serenemotto:active {
    color: blue;
    text-decoration: underline;
  }

  h3.serenemotto:hover, h3.serenemotto:active {
    color: blue;
    text-decoration: underline;
  }


  #serenelogo {
    img:hover {
      opacity: 0.5;
    }
  }

  img:hover {
    opacity: 0.5;
  }

  .serenelogo1 {
    border-radius: 20px;
  }

  .serenelogo2 {
    border-style: groove;
    border-radius: 20px;
  }

  .serenelogo3 {
    border-style: groove;
    border-radius: 20px;
  }

  .serenelogo4 {
    border-style: groove;
    border-radius: 20px;
  }

  